In [5]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os
import scipy.stats as sts

In [75]:
#load data
life = os.path.join('DataSets', 'life_expectancy_at_birth.csv')
pop = os.path.join('DataSets', 'population_by_education_level.csv')
eu = os.path.join('DataSets', 'EU_Country_Codes.csv')

life_df = pd.read_csv(life)
life_df = life_df.dropna()

pop_df = pd.read_csv(pop)
pop_df = pop_df.dropna()

eu_df = pd.read_csv(eu,names=['geography','country'], header = None)

In [76]:
life_df.head(1)

  unit sex statinfo geography  date  value
0   YR   F     LE_0        AT  2008   83.3

In [79]:
life_df['sex'].unique()

array(['F', 'M'], dtype=object)

In [82]:
life_df['date'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019])

In [80]:
pop_df['sex'].unique()

array(['F', 'M', 'T'], dtype=object)

In [81]:
# drop rows with sex ==T
pop_df = pop_df.drop(pop_df[pop_df['sex']=='T'].index).reset_index()
pop_df['sex'].unique()

array(['F', 'M'], dtype=object)

In [83]:
pop_df['date'].unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988,
       1987, 1986, 1985, 1984, 1983])

In [89]:
# merge data frames
life_pop_df = pd.merge(life_df, pop_df, on=['date','geography',], how='inner')
life_pop_eu_df = pd.merge(life_pop_df, eu_df, on='geography', how='left')
life_pop_eu_df = life_pop_eu_df.rename(columns={'unit_x': 'unit_age',
                                               'unit_y':'unit_population',
                                               'value_x': 'value_age',
                                               'value_y':'value_population',
                                               'sex_x': 'sex_age',
                                               'sex_y': 'sex_population'})
life_pop_eu_df.head(1)

,unit_age,sex_age,statinfo,geography,date,value_age,index,unit_population,sex_population,age,isced11,value_population,country
0,YR,F,LE_0,AT,2008,83.3,192624,THS,F,Y15-19,ED0-2,198.2,Austria

In [90]:
life_pop_eu_df['date'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019])

In [91]:
life_pop_eu_df['sex_age'].unique()

array(['F', 'M'], dtype=object)

In [92]:
life_pop_eu_df['sex_population'].unique()

array(['F', 'M'], dtype=object)

In [93]:
life_pop_eu_df.head()

,unit_age,sex_age,statinfo,geography,date,value_age,index,unit_population,sex_population,age,isced11,value_population,country
0,YR,F,LE_0,AT,2008,83.3,192624,THS,F,Y15-19,ED0-2,198.2,Austria
1,YR,F,LE_0,AT,2008,83.3,192663,THS,F,Y15-19,ED3_4,44.0,Austria
2,YR,F,LE_0,AT,2008,83.3,192764,THS,F,Y15-19,TOTAL,242.4,Austria
3,YR,F,LE_0,AT,2008,83.3,192803,THS,F,Y15-24,ED0-2,236.8,Austria
4,YR,F,LE_0,AT,2008,83.3,192842,THS,F,Y15-24,ED3_4,247.4,Austria

In [94]:
life_pop_eu_df.shape

(213068, 13)