In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import scipy.stats as st
from scipy.stats import linregress

In [2]:
# read data

life_expectancy_at_birth_df = pd.read_csv("DataSets/complete dataset part 1.csv")
life_expectancy_at_birth_df

,Unnamed: 0,geography,unit.x,sex.x,age,isced11,date.x,value.x,Country_Name,unit.y,sex.y,statinfo,date.y,value.y
0,1,AT,THS,True,Y15-24,TOTAL,2020,904.1,Austria,YR,F,LE_0,2011,83.8
1,2,AT,THS,True,Y15-24,TOTAL,2020,904.1,Austria,YR,M,LE_0,2014,79.1
2,3,AT,THS,True,Y15-24,TOTAL,2020,904.1,Austria,YR,F,LE_0,2018,84.1
3,4,AT,THS,True,Y15-24,TOTAL,2020,904.1,Austria,YR,F,LE_0,2012,83.6
4,5,AT,THS,True,Y15-24,TOTAL,2020,904.1,Austria,YR,F,LE_0,2010,83.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249996,BE,THS,False,Y55-64,TOTAL,1995,572.1,Belgium,YR,M,LE_0,2018,79.4
249996,249997,BE,THS,False,Y55-64,TOTAL,1995,572.1,Belgium,YR,F,LE_0,2008,82.6
249997,249998,BE,THS,False,Y55-64,TOTAL,1995,572.1,Belgium,YR,F,LE_0,2010,83.0
249998,249999,BE,THS,False,Y55-64,TOTAL,1995,572.1,Belgium,YR,M,LE_0,2011,78.0
249999,250000,BE,THS,False,Y55-64,TOTAL,1995,572.1,Belgium,YR,M,LE_0,2015,78.7

In [3]:
# Scatter Plot

# may should use conditional instead of groupby

plt.figure(figsize=(20,4))
plt.scatter(life_expectancy_at_birth_df['geography'], life_expectancy_at_birth_df['value'])
plt.title("Scatter Plot of Life Expectancy vs Country")
plt.xlabel("Country")
plt.ylabel("Life Expectancy (Years)")

plt.show()

KeyError: 'value'

In [ ]:
# Histogram Plot

# may should use conditional instead of groupby


plt.figure(figsize=(20,4))
plt.bar(life_expectancy_at_birth_df['geography'], life_expectancy_at_birth_df['value'])

plt.title("Histogram of Life Expectancy vs Country")
plt.xlabel("Country")
plt.ylabel("Life Expectancy (Years)")
plt.show()

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# Scatter Plot

# may should use conditional instead of groupby

plt.figure(figsize=(20,4))
plt.scatter(life_expectancy_at_birth_df['date'], life_expectancy_at_birth_df['value'])
plt.title("Scatter Plot of Life Expectancy vs Year")
plt.xlabel("Year")
plt.ylabel("Life Expectancy (Years)")


# Get the regression data
(slope, intercept, rvalue, pvalue, stderr) = linregress(life_expectancy_at_birth_df['date'], life_expectancy_at_birth_df['value'])
# Print the correlation coefficient
print(f"The correlation between Life Expectancy vs Country is {round(rvalue, 2)}")

# Create the line for the regression data and plot them
tv_vs_wt_fit = slope * life_expectancy_at_birth_df['date'] + intercept
plt.plot(life_expectancy_at_birth_df['date'],tv_vs_wt_fit,'-', color='r');

plt.show()